<app-navbar></app-navbar>
<div class="container d-flex justify-content-center">

    <div>
      <h1>Logging in is currently unavailable</h1>
    </div>

  <!-- DATABASE IS DISCONNECTED -->

  <!-- <div class="border border-3 border-primary rounded-1" style="margin-top: 200px; background-color: lightcyan;">
    <h1 class="ms-3 formTitle">Login</h1>
    <form class="m-3">
      <div class="col-6">
        <label class="formLabel" for="username">Username</label>
        <input class="border border-2 border-primary rounded-1" [(ngModel)]="userSigningIn.username" type="text" id="username" name="username" maxlength="20" placeholder="Enter Username..." required>
      </div>
      <div class="col-6">
        <label class="mt-3 formLabel" for="password">Password</label>
        <input class="border border-2 border-primary rounded-1" [(ngModel)]="userSigningIn.password" type="password" id="password" name="password" maxlength="20" placeholder="Enter Password..." required>
      </div>
      <div class="d-flex justify-content-end mb-3 me-3 mt-3">
        <button class="btn btn-outline-primary border border-2 border-primary rounded-1" type="submit" (click)="signIn()" style="font-size: 20px; font-weight: 500;">Submit</button>
        <button class="btn btn-outline-primary border border-2 border-primary ms-3 rounded-1" type="submit" style="font-size: 20px; font-weight: 500;" routerLink="/register">Register</button>
      </div>
    </form>
  </div> -->
</div>
<!-- <div *ngIf="unsuccessfulSignIn" class="d-flex justify-content-center mt-3">
  <h4 class="bg-danger rounded-3 p-2">Username and/or Password is incorrect</h4>
</div> -->
