<app-navbar></app-navbar>
<div class="container d-flex justify-content-center">

  <div>
    <h1>Registering is currently unavailable</h1>
  </div>

  <!-- DISCONNECTED FROM DATABASE -->

  <!-- <div class="border border-3 border-primary rounded-1" style="margin-top: 200px; background-color: lightcyan;">
    <h1 class="ms-3 formTitle">Register</h1>
    <form #registerForm="ngForm" class="m-3">
      <div class="col-6">
        <label class="formLabel">Username</label>
        <input class="border border-2 border-primary rounded-1" name="username" type="text" ngModel #username="ngModel" placeholder="Enter Username..." maxlength="15">
        <p *ngIf="incorrectUsername" style="color: red; font-weight: 500;">Username must be at least 8 characters long</p>
      </div>
      <div class="col-6">
        <label class="mt-3 formLabel">Password</label>
        <input class="border border-2 border-primary rounded-1" name="password" type="password" ngModel #password="ngModel" placeholder="Enter Password..." maxlength="20">
        <p *ngIf="incorrectPasswordLength" style="color: red; font-weight: 500;">Password must be at least 8 characters long</p>
        <p *ngIf="incorrectPasswordValues" style="color: red; font-weight: 500;">Password must have numbers and letters</p>
      </div>
    </form>
    <div class="d-flex justify-content-end mb-3 me-3">
      <button class="btn btn-outline-primary border border-2 border-primary rounded-1" (click)="attemptToRegister(registerForm)" style="font-size: 20px; font-weight: 500;">Sign Up</button>
    </div>
  </div> -->
</div>

<!-- <div *ngIf="unsuccessfulRegister" class="d-flex justify-content-center mt-3">
  <h4 class="bg-danger rounded-3 p-2">Username and/or Password is incorrect</h4>
</div> -->

